fastapi
uvicorn
langchain
langchain-text-splitters
langchain-openai
langchain-qdrant
langchain-community
qdrant-client
sentence-transformers
llama-parse
pymupdf
pymupdf4llm
python-dotenv
python-multipart
numpy
arq
redis
slowapi